
#global-header {
    @include position(fixed, 0 0 auto 0);
    padding: 20px;
    z-index: 9000;
    // color: #fff;
    color: #83bfe3;
    .brand {
        text-transform: uppercase;
        font-size: 1.5em;
    }
    a {
        color: inherit;
    }
}
