
#view-address {
    .address-item {
        height: 145px;
        margin: 1px auto;
        background-color: #fff;
        padding: 20px 100px 0 15px;
        position: relative;
    }
    .phone {
        display: inline-block;
        padding-top: 5px;
        padding-left: 25px;
        margin-top: 5px;
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto 20px;
        background-image: url(../images/sprites/phone.png);
    }
    .distance {
        color: #999;
        position: absolute;
        right: 20px;
        top: 50px;
        display: inline-block;
        padding-top: 20px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: auto 20px;
        background-image: url(../images/sprites/cursor.png);
    }
}
