
#view-brand {
    .brand-wrapper {
        margin-bottom: 1px;
        .cover {
            padding-top: 50%;
            position: relative;
        }
        .brand-logo {
            height: 75px;
            width: 75px;
            margin: -130px auto 10px;
            border-radius: 50%;
            box-shadow: 0 0 0 2px rgba(#eee, 0.7);
        }
        .name {
            color: #fff;
        }
        .container-fluid {
            padding-top: 20px;
            padding-bottom: 30px;
            background-color: #fff;
        }
        .social {
            margin: 20px auto;
            position: relative;
        }
        .dot {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 3px;
            height: 3px;
            background: url(../images/dot.jpg) no-repeat center;
            background-size: contain;
        }
        .subscribe, .share {
            display: inline-block;
            padding-top: 5px;
            padding-left: 25px;
            background-repeat: no-repeat;
            background-position: left;
            background-size: auto 20px;
        }
        .subscribe { background-image: url(../images/sprites/plus.png); }
        .share { background-image: url(../images/sprites/share.png); }
    }
    .description {
        position: relative;
    }
    .more {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 3px;
        color: $brand-success;
        display: hidden;
        padding-top: 3px;
        padding-right: 12px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: auto 12px;
        background-image: url(../images/sprites/enter.png);
    }
    .description.ellipsis .more {
        display: inline-block;
    }
    .store {
        padding: 15px;
        background-color: #fff;
    }
    .media-carousel {
        margin-top: 10px;
        margin-bottom: 30px;
        .nav {
            background-color: #fff;
        }
        .nav > li {
            width: 50%;
            margin: 0;
            > a {
                display: inline-block;
                position: relative;
            }
            &.active > a::after {
                content: "";
                position: absolute;
                left: 15px;
                right: 15px;
                bottom: 3px;
                height: 2px;
                background-color: $brand-success;
            }
        }
    }
    .topic-media-item {
        cursor: pointer;
        margin: 10px;
        .img {
            padding-top: 50%;
            position: relative;
        }
        .title {
            @include position(absolute, auto 0 0 0);
            background-color: rgba(#000, 0.3);
            color: #fff;
            padding: 10px;
            text-align: center;
        }
    }
    .product-media-item {
        cursor: pointer;
        float: left;
        width: 47%;
        margin-left: 2%;
        margin-top: 2%;
        background-color: #fff;
        .img {
            padding-top: 130%;
        }
        .content {
            padding: 15px 10px;
        }
        .brand {
            display: inline-block;
            background-color: #000;
            padding: 2px 5px;
            color: #fff;
        }
        .discount {
            text-decoration: line-through;
            display: inline-block;
            margin-right: 1em;
            color: #999;
        }
        .name {
            margin: 15px auto 10px;
            @include ellipsis();
        }
        .deco-title {
            height: 50px;
            background: url(../images/topic-products-title.png) no-repeat center;
            background-size: auto 25px;
            margin-top: 3%;
        }
    }
}
